@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  --bg-color-01: #995d3c;
  --bg-color-02: #e3fce6;
  --span-bg-color: #0f6624;
}

body {
  text-align: center;
}

span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
}

.entry-card {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 500px;
  overflow: hidden;
  margin: 10px;
}

.entry-card.menu {
  height: 750px;
}

.menu > .entry-thumbnail {
  height: 100%;
}

.menu .entry-body {
  position: relative;
  height: 500px;
  overflow: scroll;
}

.menu .entry-cta {
  height: 50px;
}

.card-body {
  max-height: 150px;
  overflow: scroll;
  color: black;
}

.entry-category {
  margin-bottom: auto;
  z-index: 10;
}

.entry-category > span {
  font-size: 0.7em;
  color: white;
}

.entry-thumbnail {
  box-sizing: border-box;
  height: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  overflow: hidden;
}

.entry-body {
  z-index: 10;
  height: 150px;
  margin-top: auto;
  color: #fff;
}

.entry-body > span {
  font-size: 0.8em;
  background-color: var(
    --span-bg-color
  );
}

.entry-content > h3 {
  font-weight: 50;
  letter-spacing: 1px;
}

.entry-content > p {
  overflow: hidden;
}

.entry-img {
  position: absolute;
  top: 0px;
  z-index: -1;
  object-fit: contain;
  height: 100%;
  align-self: center;
  transition: 1s;
}

.dimmer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    var(--bg-color-01),
    transparent 80%
  );
  filter: opacity(80%);
}

.entry-cta {
  box-sizing: border-box;
  height: 15%;
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--bg-color-01);
  transition: 1s;
}

.cta-icon {
  margin: auto 0 auto auto;
  height: 60%;
  object-fit: cover;
  filter: invert(100%);
}

.entry-cta > label {
  margin: auto 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.cta-disabled {
  filter: opacity(50%);
}
