.jumbotron {
  background-color: #56d638;
  color: #e3fce6;
  margin-top: 56px;
  border-radius: 0;
}

.btn-title {
  font-size: 25px;
  padding: 10px 30px;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: #56d638;
  margin-bottom: 0px;
}

#elrinconcito {
  font-family: "Indie Flower", cursive;
}
