@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
  letter-spacing: 2px;
  font-size: 1.2rem; }

a.nav-link > h6 {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
  letter-spacing: 2px;
  font-size: 1.2rem; }

button {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-transform: capitalize; }

.jumbotron {
  background-color: #56d638;
  color: #e3fce6;
  margin-top: 56px;
  border-radius: 0; }

.btn-title {
  font-size: 25px;
  padding: 10px 30px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #56d638;
  margin-bottom: 0px; }

#elrinconcito {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-size: 2.5rem; }

#navigationBarContainer {
  background-color: #995d3c; }
