@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

$main-color: #56d638;
$main-font-color: #e3fce6;
$witi: #aff;
$nab-bar-bg-color: #995d3c;

@mixin reset-element($new-margin, $new-padding) {
  margin: $new-margin;
  padding: $new-padding;
  font-family: "Indie Flower", cursive;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

body {
  @include reset-element(0, 0);
}

a.nav-link > h6 {
  @include reset-element(0, 0);
}

button {
  @include reset-element(0, 0);
  text-transform: capitalize;
}

.jumbotron {
  background-color: $main-color;
  color: $main-font-color;
  margin-top: 56px;
  border-radius: 0;
}

.btn-title {
  font-size: 25px;
  padding: 10px 30px;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: $main-color;
  margin-bottom: 0px;
}

#elrinconcito {
  @include reset-element(0, 0);
  font-size: 2.5rem;
}
#navigationBarContainer {
  background-color: $nab-bar-bg-color;
}
